{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block body %}

<div
  style="background-image: url(static/images/wall1.jpg); min-height: 400px; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div>
    <h1 class="dd"><b>Discussion Desk</b>
    </h1>
  </div>
</div>

<!-- divider -->
<div style="display: flex-1; justify-content:center;" class="container-main">
<!-- <div class="custom-shape-divider-top-1653818103">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path fill="#0099ff" d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
    </svg>
  </div>
</div> -->

<!-- teachers -->
<div style="background-color:#131413; color: #50faf4;">
<div class="mentors">
<h1 style="text-align: center; color:#83ebd1;">Mentors, Who will help you throughout!</h1>
</div>
<div class="row slide-in-bottom2" style="margin-top: 70px;">
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      <image width="140" height="150" href="/static/images/pankajsir.PNG"></image>
    </svg>

    <h4 class="fw-normal">Dr. Pankaj Kumar</h4>
    <p>Java</p>
    <p><a class="btn btn-secondary" href="#" style="background-color:#169494;">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      <image width="140" height="150" href="/static/images/male-1.webp"></image>
    </svg>

    <h4 class="fw-normal">Teacher</h4>
    <p>Python</p>
    <p><a class="btn btn-secondary" style="background-color:#169494;" href="#">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" src="wall7.jpg" width="140" height="140"
      xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
      preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      <image href="/static/images/munnasir.PNG" width="140" height="165"></image>
    </svg>

    <h4 class="fw-normal">Mr. Munna Pandey</h4>
    <p>C Programing</p>
    <p><a class="btn btn-secondary" href="#" style="background-color:#169494;">View details »</a></p>
  </div>
</div>
</div>

<!-- about -->
<div style="display:flex; justify-content:center; background-color:#28282B" class="footer">
  <img style="border-radius: 95%; margin: 2vw;" src="/static/images/laptop.jpg" alt=""><br><br>
</div>
<div class="footer-content">
  <h2 style="margin-left: 10px; color: #ffffff; text-shadow: 5px 2px 8px #242425, 0px 0px 10px #132332, 0px 0px 10px #93c3ed,0px 0px 20px #93c3ed;"><b><u>How It Helps</u></b></h2>
  <p  id="about" style="margin-left: 10px; font-size: larger; color:rgb(0, 0, 0)"><b>Discussion Desk of IITM serves as a resource to help students of IITM on programming and help them prepare for coding interview. Students can ask anything related to programming. Experts at Coding Forum provide programming problems of different difficulty levels. Students can post their answers which are evaluated by experts. Students are encouraged to clear their doubts by participating in discussions. Also, students can read discussions on different programming languages such as C, C++, PHP, Python, JavaScript, and much more. </b></p>
</div>
<br>
{% endblock %}