@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
/* Navbar */
.navbar {
    background: #000000;
}

.navbar-nav {
    position: relative;
    top: 2%;
    left: 20%;
}

.navbar-nav a{
  color: #f6f4e6;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 150px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
 
}
.navbar-nav a:hover{
  text-shadow: 0 0 20px #fff, 0 0 30px #50faf4, 0 0 40px #50faf4, 0 0 50px #50faf4, 0 0 60px #50faf4, 0 0 70px #50faf4, 0 0 80px #50faf4;
}

.navbar-nav .dot{
  width: 8px;
  height: 6px;
  background: #50faf4;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(50px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-nav a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(-725px);
  transform: translate(-725px, 28px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar-nav a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(-574px);
  transform: translate(-574px, 28px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar-nav a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(-407px);
  transform: translate(-407px, 28px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar-nav a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(-255px);
  transform: translate(-255px, 28px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar-nav a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(-103px);
  transform: translate(-103px, 28px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


/* divider */
.custom-shape-divider-top-1653818103 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1653818103 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    background-color: #0099ff;
}

.custom-shape-divider-top-1653818103 .shape-fill {
    fill: rgb(255, 255, 255);
}

/* title */
.dd{
 position: absolute;
 color: white;
 top: 13vw;
 font-size: 9vw;
}
/* text animations */

  /* .slide {
    animation-duration: 3s;
    animation-name: slidein;
    position: absolute;
    color: white;
    top: 200px;
    backdrop-filter: blur(20px);
    text-shadow: 0.27vw 0.27vw #0099ff;
    font-size: 7vw;
  } */
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 500%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/* teachers */
/* .slide-in-bottom {
	/* animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  /* background-image: linear-gradient(to bottom, #0099ff, white);
  height: 73px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #242425, 0px 0px 10px #93c3ed, 0px 0px 10px #93c3ed,
  0px 0px 20px #93c3ed;} */

/* @keyframes slide-in-bottom {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */
  /* container main */
  container-main{
    display: flex;
    justify-content: center;

  }
  
  .mentors h1{
  color: #f6f4e6;
  font-size: 7rem;
  text-align: center;
}

/* .slide-in-bottom2 {
    animation: slide-in-bottom2 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: block;
    text-align: center;
} */

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono"
}

/*
@keyframes slide-in-bottom2 {
      0% {
        transform: translateY(1000px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    } */



